/*
body.stereo_madness {
    background: rgb(9, 9, 121);
    background: linear-gradient(0deg, rgba(9, 9, 121, 1) 53%, rgba(0, 35, 255, 1) 100%);
}

body.back_on_track {
    background: rgb(118, 9, 121);
    background: linear-gradient(0deg, rgba(118, 9, 121, 1) 53%, rgba(255, 0, 249, 1) 100%);
}

body.polargeist {
    background: rgb(187, 20, 23);
    background: linear-gradient(0deg, rgba(187, 20, 23, 1) 53%, rgba(255, 0, 99, 1) 100%);
}*/